@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Source+Sans+Pro:wght@300&display=swap');
body{
    background-color: white;
    font-family: "roboto", Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color:black;
    margin:0 30px 0 30px ;
    min-height: auto;
    max-width: 92vw;
    padding:20px;
}
header p{
    font-size: 20px;
    font-weight: 300;
    color: #000;
    margin: 0;
    padding: 0;
}
    nav ul{
        display: flex;
        background-color: antiquewhite;
        width: 50%;
        list-style: none;
        padding: 20px ;
        margin:10px ;
        gap: 20px;
        justify-content: start;
        position: relative;
    align-items: center;
}
ul , a{
    list-style-type: none;
    padding: 0;
    text-decoration: none;
    color: #000;
}
form textarea{
    display: flex;
    width: 50%;
    height: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 20px;

}
form input[type="text"],
form input[type="email"]{
    display: flex;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 20px;
}
#submit{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
#taille{
    font-weight: 300;
}
footer a{

    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
.footer-text{
    font-size: 14px;
    text-align: center;
}